#Fabric>=1.8.1
#Glances
Jinja2
Markdown
#MarkupSafe
#Pygments
#Unidecode
#beautifulsoup4
#blinker
#bzr>=2.6.0
#cssselect
#docutils
#dulwich
#ecdsa
feedgenerator
#fontawesome-markdown
#hg-git
#howdoi
#lxml
#mercurial
#paramiko
pelican>=4.9.1
watchfiles
#pelican-gist
#pelican-gravatar-plus
pelicanfly
#psutil
#pycrypto
#pyquery
#pytz
#requests
#requests-cache
#six
#smartypants
typogrify
#wsgiref
invoke
